<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--整合hibernate-->
    <!--配置连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql:///hibernate_day01?serverTimezone=UTC"/>
        <property name="user" value="root"/>
        <property name="password" value="0928"/>
    </bean>
    <!--引入hibernate的配置,以及注入连接池-->
    <bean id="sessionFactoryBean" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!--注入连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--引入hibernate配置-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <!--映射配置-->
        <property name="mappingResources">
            <list>
                <value>user.hbm.xml</value>
                <value>linkman.hbm.xml</value>
                <value>customer.hbm.xml</value>
            </list>
        </property>
    </bean>
    <!--session事务控制-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactoryBean"/>
    </bean>

    <!-- 开启事务的注解 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--整合struts2-->
    <bean id="customerAction" class="com.erqi.web.action.CustomerAction" scope="prototype">
        <property name="customerService" ref="customerService"/>
    </bean>
    <bean id="customerService" class="com.erqi.service.impl.CustomerServiceImpl">
        <property name="customerDao" ref="customerDao"/>
    </bean>
    <bean id="customerDao" class="com.erqi.dao.impl.CustomerDaoImpl">
        <property name="sessionFactory" ref="sessionFactoryBean"/>
    </bean>

    <bean class="com.erqi.web.action.LinkmanAction" id="linkman">
        <property name="customerService" ref="customerService"/>
        <property name="linkManService" ref="linkManService"/>
    </bean>
    <bean class="com.erqi.service.impl.LinkManServiceImpl" id="linkManService">
        <property name="linkmanDao" ref="linkmanDao"/>
    </bean>
    <bean id="linkmanDao" class="com.erqi.dao.impl.LinkmanDaoImpl">
        <property name="sessionFactory" ref="sessionFactoryBean"/>
    </bean>

    <bean class="com.erqi.web.action.UserAction" id="user">
        <property name="userService" ref="userService"/>
    </bean>
    <bean class="com.erqi.service.impl.UserServiceImpl" id="userService">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean class="com.erqi.dao.impl.UserDaoImpl" id="userDao">
        <property name="sessionFactory" ref="sessionFactoryBean"/>
    </bean>
</beans>












